*{
    color:#606060
}
input{
    background-color:#F4F6FA;
    border: 2px;
    height: 42px;
}
p{
    font-size: 14px;
}

.carousel__slide{
    display: grid !important;
    justify-content: inherit !important;
}
.bg-utt{
    background-color: #691A2D !important;
}
.text-utt{
    color: #691A2D !important;
}
.card{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #2468A126 !important;
    border-radius: 5px !important;
    opacity: 2 !important;

}
input{
    vertical-align: middle;
}