*{
    color:#606060
}
body{
    background-color: #F2F4F5 !important;
}
input{
    background-color:#F4F6FA;
    border: 2px;
    height: 42px;
    vertical-align: middle !important;
}
p{
    font-size: 14px;
}

.carousel__slide{
    display: grid !important;
    justify-content: inherit !important;
}
.bg-utt{
    background-color: #691A2D !important;
}
.text-utt{
    color: #691A2D !important;
}
.card{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #2468A126 !important;
    border-radius: 5px !important;
    opacity: 2 !important;

}

.grey-bg {  
    background-color: #F5F7FA;
}


#card-carrusel:hover{
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}


/* .btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: #691A2D !important;
} */

.btn-outline-utt {
    color: #7cc !important;
    background-color: transparent !important;
    background-image: none !important;
    border-color: #7cc !important;
}

.btn-outline-utt:hover {
    color: #222 !important;
    background-color: #8ad3d3 !important;
    border-color: #7cc !important
}

.btn-outline-utt:focus,
.btn-outline-utt.focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5) !important
}
.btn-outline-utt:active{
    background-color: #8ad3d3 !important;
}

